
<launch>
	<node name="action_move" pkg="rosplan_interface_freiburg"
        type="action_move" respawn="false" output="screen">
	  <remap from="skiller" to="robot1/skiller" />
    <param name="robot_identifier/var_value" value="r1" />
		<param name="team_color" value="CYAN" />
  </node>

</launch>
