<?xml version="1.0"?>

<launch>
	<arg name="num_robots" default="$(optenv NUM_ROBOTS 1)" />

	<include file="$(find rcll_ros)/launch/rcll_sim_integration.launch">
		<arg name="num_robots" value="$(arg num_robots)" />
		<arg name="navgraph_file" default="$(env FAWKES_DIR)/cfg/navgraph-generated.yaml" />
	</include>

	<include file="$(find rcll_freiburg)/launch/production.launch">
		<arg name="database_path" value="$(find rosplan_knowledge_base)/common/mongoDB/" />
		<arg name="data_path" value="$(find rcll_freiburg)/data/" />
		<arg name="problem_path" value="$(find rcll_freiburg)/data/problem.pddl" />
		<arg name="strl_file_path" value="$(find rcll_freiburg)/data/plan.strl" />

<!--
		<arg name="pddl_domain_path" value="$(find rcll_production_domain)/benchmark/d_durations.pddl" />
		<arg name="pddl_domain_path" value="$(find rcll_production_domain)/benchmark/d_macro_actions.pddl" />
-->
	</include>
	<include file="$(find rcll_freiburg)/launch/rosplan_gui.launch" />
</launch>
