<?xml version="1.0"?>

<launch>
	<arg name="num_robots" default="$(optenv NUM_ROBOTS 1)" />
	<arg name="override_action_mapping" default="false" />
	<arg name="disable_refbox_interface" default="false" />
	<arg name="disable_navgraph_interface" default="false" />
	
	<!-- Load domain-specific action mapping -->
  <rosparam command="load" file="$(find rcll_freiburg)/config/rcll_action_mapping.yaml"
            unless="$(arg override_action_mapping)" />

  <!-- Load predicates which the interface should not touch (assert/retract) -->
  <rosparam command="load" file="$(find rcll_freiburg)/config/rcll_ignored_effect_predicates.yaml" />

  <!-- Parameter of action used to identify robot-specific actions -->
<!-- 
	<param name="robot_identifier/var_name" value="r" />
  <param name="robot_identifier/var_type" value="robot" />
  
	<node name="rosplan_be_r1" pkg="rosplan_interface_behaviorengine"
        type="rosplan_interface_behaviorengine" respawn="false" output="screen"
        if="$(eval int(arg('num_robots')) >= 1)" >
	  <remap from="skiller" to="robot1/skiller" />
    <param name="robot_identifier/var_value" value="r1" />
  </node>

  <node name="rosplan_be_r2" pkg="rosplan_interface_behaviorengine"
        type="rosplan_interface_behaviorengine" respawn="false" output="screen"
        if="$(eval int(arg('num_robots')) >= 2)" >
	  <remap from="skiller" to="robot2/skiller" />
    <param name="robot_identifier/var_value" value="r2" />
  </node>

  <node name="rosplan_be_r3" pkg="rosplan_interface_behaviorengine"
        type="rosplan_interface_behaviorengine" respawn="false" output="screen"
        if="$(eval int(arg('num_robots')) >= 3)" >
	  <remap from="skiller" to="robot3/skiller" />
	  <param name="robot_identifier/var_value" value="r3" />
  </node>
 -->

	<!-- machine actions -->
	<group ns="robot1">
		<node name="action_dispense_product" pkg="rosplan_interface_freiburg"
			type="action_dispense_product" respawn="false">
			<param name="pddl_action_name" value="dispense-product" />
			<param name="initial_machine_state" value="IDLE" />
			<param name="desired_machine_state" value="READY-AT-OUTPUT" />
		</node>
		<node name="action_dispense_material" pkg="rosplan_interface_freiburg"
			type="action_dispense_material" respawn="false">
			<param name="pddl_action_name" value="dispense-material" />
			<param name="initial_machine_state" value="IDLE" />
			<param name="desired_machine_state" value="READY-AT-OUTPUT" />
		</node>
		<node name="action_buffer_cap" pkg="rosplan_interface_freiburg"
			type="action_wait_for_machine_state" respawn="false">
			<param name="pddl_action_name" value="buffer-cap" />
			<param name="desired_machine_state" value="READY-AT-OUTPUT" />
			<param name="log_prefix" value="[BufferCap] " />
			<rosparam param="machines">[cs1, cs2]</rosparam>
		</node>
		<node name="action_mount_cap" pkg="rosplan_interface_freiburg"
			type="action_wait_for_machine_state" respawn="false">
			<param name="pddl_action_name" value="mount-cap" />
			<param name="desired_machine_state" value="READY-AT-OUTPUT" />
			<param name="log_prefix" value="[MountCap] " />
			<rosparam param="machines">[cs1, cs2]</rosparam>
		</node>
		<node name="action_mount_ring" pkg="rosplan_interface_freiburg"
			type="action_wait_for_machine_state" respawn="false">
			<param name="pddl_action_name" value="mount-ring" />
			<param name="desired_machine_state" value="READY-AT-OUTPUT" />
			<param name="log_prefix" value="[MountRing] " />
			<rosparam param="machines">[rs1, rs2]</rosparam>
		</node>
		<node name="action_deliver" pkg="rosplan_interface_freiburg"
			type="action_wait_for_machine_state" respawn="false">
			<param name="pddl_action_name" value="deliver" />
			<param name="desired_machine_state" value="IDLE" />
			<param name="log_prefix" value="[Deliver] " />
			<rosparam param="machines">[ds]</rosparam>
		</node>
	</group>

	<node name="kbupdater_production_steps" pkg="rosplan_interface_freiburg"
		type="rosplan_kb_updater_rcll_production_steps" respawn="false" output="screen"
		unless="$(arg disable_refbox_interface)">
		<remap from="rcll/order_info" to="robot1/rcll/order_info" />
		<remap from="rcll/ring_info" to="robot1/rcll/ring_info" />
		<remap from="rcll/machine_info" to="robot1/rcll/machine_info" />
		<rosparam command="load"
			file="$(find rcll_freiburg)/config/kbupdater_production_steps.yaml" />
	</node>

	<node name="kbupdater_navgraph" pkg="rosplan_interface_freiburg"
		type="rosplan_kb_updater_navgraph" respawn="false" output="screen"
		unless="$(arg disable_navgraph_interface)">
		<remap from="rcll/machine_info" to="robot1/rcll/machine_info" />
		<remap from="navgraph" to="robot1/navgraph" />
		<remap from="get_pairwise_costs" to="robot1/navgraph/get_pairwise_costs" />
		<rosparam command="load"
			file="$(find rcll_freiburg)/config/rcll_kbupdater_navgraph.yaml" />
	</node>
</launch>

