<?xml version="1.0"?>

<launch>
	<arg name="num_robots" default="$(optenv NUM_ROBOTS 1)" />
	<group ns="robot1/rcll">
		<node name="updater_production_steps" pkg="rosplan_interface_freiburg"
			type="updater_production_steps" respawn="false" output="screen">
			<rosparam command="load"
				file="$(find rcll_freiburg)/config/updater_production_steps.yaml" />
			<rosparam command="load"
				file="$(find rcll_freiburg)/config/product_decider.yaml" />
			<param name="robot_count" value="$(arg num_robots)"/>
		</node>
	</group>

</launch>

