<?xml version="1.0"?>

<launch>
	<group ns="robot1">
		<param name="robot_name" value="r1"/>
		<node name="action_transport_product" pkg="rosplan_interface_freiburg"
			type="action_transport_product" respawn="false" output="screen">
			<param name="pddl_action_name" value="transport-product" />
			<param name="initial_machine_state" value="IDLE" />
			<param name="desired_machine_state" value="PREPARED" />
		</node>
		<node name="action_transport_material" pkg="rosplan_interface_freiburg"
			type="action_transport_material" respawn="false" output="screen">
			<param name="pddl_action_name" value="transport-material" />
			<param name="initial_machine_state" value="IDLE" />
			<param name="desired_machine_state" value="PREPARED" />
		</node>
		<node name="action_insert_cap" pkg="rosplan_interface_freiburg"
			type="action_insert_cap" respawn="false" output="screen">
			<param name="pddl_action_name" value="insert-cap" />
			<param name="initial_machine_state" value="IDLE" />
			<param name="desired_machine_state" value="PREPARED" />
		</node>
	</group>

</launch>

